<div class="container p-5">
<%= form_for(@article) do |f| %>
  <div class="form-group">
    <b><%= f.label :title %></b>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <b><%= f.label :content %></b>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-primary'%>
<% end %>
</div>
